<template>
    <h1>App Tareas</h1>
    <TareaForm />
    
    
    <TareaItem  v-for="tarea in tareas" :key="tarea.id" :tarea="tarea" />
 
    <p class="d-block text-center mt-3" v-if="tareas.length === 0">
        No existe ninguna tarea 😞
    </p>
    
    {{tareas}}
</template>

<script>
import { provide, ref, watchEffect } from 'vue';
import TareaForm from './TareaForm';
import TareaItem from './TareaItem';

    export default {
        components: {
            TareaForm,
            TareaItem
        },
        setup(){
            const tareas = ref([]);

            provide('tareas',tareas);

            if(localStorage.getItem('tareas')){
                tareas.value = JSON.parse(localStorage.getItem('tareas'));
            }

            watchEffect(()=>{
                localStorage.setItem('tareas', JSON.stringify(tareas.value));
            })

            return {
                tareas
            }
        }
    }
</script>

<style lang="scss" scoped>

</style>