<template>
    <form @submit.prevent="agregarTarea">
        <input 
        type="text" 
        class="form-control my-2"
        placeholder="Ingrese tarea"
        v-model.trim="texto"
        name="">

        <button class="btn btn-primary w-100">Guardar Tarea</button>
    </form>
</template>

<script>
import { inject, ref } from 'vue';

    export default {
        setup(){
            const texto = ref('');
            const tareas = inject('tareas');

            const agregarTarea = () =>{
                if(texto.value === ''){
                    return;
                }
                const tarea = {
                    texto: texto.value,
                    estado: false,
                    id: Date.now()
                }

                tareas.value.push(tarea);
                texto.value = '';
            }

            return {
                agregarTarea,
                texto
            }
        }
    }
</script>

