<template>
    <div class="alert alert-warning mt-3 d-flex justify-content-between align-items-center">
       <p class="m-0"
       :class="tarea.estado === false ? '' : 'in-active'"
       >{{tarea.texto}}</p>
        <div>
            <i 
            class="fas"
            :class="tarea.estado === false ? 'fa-check-circle text-success' : 'fa-undo-alt text-info'" 
            role="button"
            @click="modificarTarea(tarea.id)"></i>
            <i 
            class="fas fa-minus-circle text-danger ml-2" 
            role="button"
            @click="eliminarTarea(tarea.id)"></i>
        </div>
    </div>
</template>

<script>
import { inject } from 'vue';

    export default {
        props: {
            tarea: {
                type: Object,
                required: true
            }
        },
        setup(){
            const tareas = inject('tareas');

            const eliminarTarea = id =>{
                 tareas.value = tareas.value.filter(tarea => tarea.id !== id);
            }

            const modificarTarea = id => {
                 tareas.value = tareas.value.map(tarea => {
                     if(tarea.id === id){
                          tarea.estado = !tarea.estado;
                     }

                     return tarea;
                 });
            }

            return {
                eliminarTarea,
                modificarTarea
            }
        }
        
    }
</script>

<style scoped>
 .in-active{
     text-decoration: line-through;
 }
</style>
