<template>
    <div class="container mt-3">
      <tarea-app />
    </div>
</template>

<script>
import TareaApp from './components/TareaApp';

export default {
  name: 'App',
  components: {
    TareaApp
  }
}
</script>


